* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-side {
  width: 50%;
  position: relative;
  background-color: #000000;
}

.watch-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.weather-button {
  position: absolute;
  top: 59%;
  left: 36%;
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.weather-button:active {
  transform: scale(1.2) rotate(1deg);
}

.watch-date {
  position: absolute;
  top: 60%;
  left: 41%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.battery-icon {
  position: absolute;
  top: 28%;
  left: 60%;
  width: 5%;
}

.arrow-icon {
  position: absolute;
  top: 46%;
  left: 64%;
  width: 2%;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.arrow-icon:active {
  transform: scale(1.2) rotate(2deg);
}

.back-arrow {
  position: absolute;
  top: 46%;
  left: 33%;
  width: 2%;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.back-arrow:active {
  transform: scale(1.2) rotate(2deg);
}

.home-icon {
  position: absolute;
  top: 64%;
  left: 46%;
  width: 6%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-icon:active {
  transform: scale(1.2) rotate(1deg);
}

.exit-icon {
  position: absolute;
  top: 58%;
  left: 44%;
  width: 11%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.exit-icon:active {
  transform: scale(1.2) rotate(1deg);
}

.contact-sos {
  position: absolute;
  top: 46%;
  left: 49%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: ring 1.5s infinite ease-in-out;
  box-shadow: 0 0 0 rgba(255, 59, 48, 0.7);
}

@keyframes ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(3deg) scale(1.05, 0.95);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-3deg) scale(0.95, 1.05);
  }
  75% {
    transform: translate(-50%, -50%) rotate(2deg) scale(1.05, 0.95);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 59, 48, 0);
  }
}

.sos-button {
  position: absolute;
  top: 46%;
  left: 49%;
  width: 26%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sos-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.weather {
  position: absolute;
  top: 39%;
  left: 35%;
  width: 30%;
}

.to-do {
  position: absolute;
  top: 40%;
  left: 35%;
  width: 30%;
}

.contacts {
  position: absolute;
  top: 41%;
  left: 42%;
  width: 15%; 
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contacts:hover {
  transform: translate(-50%, -50%) scale(1.05);
}
.setting-icon {
  position: absolute;
  top: 40%;
  left: 55%;
  width: 16%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.setting-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.clock-icon {
  position: absolute;
  top: 55%;
  left: 57%;
  width: 13%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.clock-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}


.music-icon {
  position: absolute;
  top: 55%;
  left: 42%;
  width: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.music-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.counter-message {
  position: absolute;
  top: 43%;
  left: 43%;
  width: 12%;
}

.calendar-date {
  position: absolute;
  top: 41%;
  left: 36%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.counter-text {
  position: absolute;
  top: 37%;
  left: 50%;
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.count-number {
  position: absolute;
  top: 49%;
  left: 49%;
  color: #fafafa;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.sos-text {
  position: absolute;
  top: 36%;
  left: 49%;
  color: #fafafa;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.filemanager-icon {
  position: absolute;
  top: 40%;
  left: 42%;
  width: 11%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filemanager-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.maps-icon {
  position: absolute;
  top: 55%;
  left: 55%;
  width: 13%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.maps-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}


.data-icon {
  position: absolute;
  top: 28.3%;
  left: 56.6%;
  width: 2.9%;
}

.wifi-icon {
  position: absolute;
  top: 28.3%;
  left: 54%;
  width: 2.5%;
}

.bluetooth-icon {
  position: absolute;
  top: 28.3%;
  left: 51.6%;
  width: 1.5%;
}


.location-icon {
  position: absolute;
  top: 28.3%;
  left: 51.6%;
  width: 1.5%;
}


.settings {
  position: absolute;
  top: 35%;
  left: 55%;
  width: 1.5%;
}

.settings-label {
  position: absolute;
  top: 35%;
  left: 30%;
  width: 1.5%;
  font-size: 15px;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 15px 0;
}

.icon {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When ON */
input:checked + .slider {
  background-color: #a855f7; 
}

/* Move knob when ON */
input:checked + .slider:before {
  transform: translateX(22px);
}

.wifi-text {
  position: absolute;
  top: 35%;
  left: 31%;
  width: 15%;
}

.bluetooth-text {
  position: absolute;
  top: 40.8%;
  left: 35%;
  width: 15%;
}

.battery-text {
  position: absolute;
  top: 62%;
  left: 41%;
  width: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.battery-text:hover {
  transform: translate(-50%, -50%) scale(1.05);

}

.data-text {
  position: absolute;
  top: 56%;
  left: 41%;
  width: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.data-text:hover {
  transform: translate(-50%, -50%) scale(1.05);

}

.location-text {
  position: absolute;
  top: 50.5%;
  left: 42%;
  width: 12%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.location-text:hover {
  transform: translate(-50%, -50%) scale(1.05);

}


.heartrate-icon {
  position: absolute;
  top: 40%;
  left: 57%;
  width: 12%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.heartrate-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.playmusic-icon {
  position: absolute;
  top: 39%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.playmusic-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.music-library {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.music-library:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.songs-icon {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.songs-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.elvis-music {
  position: absolute;
  top: 32%;
  left: 40%;
  width: 18%;
}

.songs {
  position: absolute;
  top: 32%;
  left: 29.5%;
  width: 47%;
}

.playlist-songs {
  position: absolute;
  top: 33%;
  left: 35%;
  width: 38%;
}

.view-maps {
  position: absolute;
  top: 33%;
  left: 35.7%;
  width: 27%;
}

.internal-storage {
  position: absolute;
  top: 37%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.internal-storage:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.watch-storage {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.watch-storage:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.download-files {
  position: absolute;
  top: 51%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.download-files:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.audio-files {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.audio-files:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.pulse-text {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: rgb(254, 253, 253);
}

.pulse-label {
  font-size: 14px;
  font-weight: 500;
  margin: 100;
  letter-spacing: 1px;
}

.pulse-value {
  font-size: 24px;
  font-weight: 700;
  margin: 2px 0 0 0;
  color: #ed8181;
}

.oxygen-text {
  position: absolute;
  top: 1%;
  left: 165%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: rgb(254, 253, 253);
}

.oxygen-label {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1px;
}

.oxygen-value {
  font-size: 24px;
  font-weight: 700;
  margin: 2px 0 0 0;
  color: #ed8181;
}

.heart {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  animation: beat 1s infinite ease-in-out;
}

@keyframes beat {
  0%,
  100% {
    transform: translateX(-50%) scale(1);
    filter: drop-shadow(0 0 6px #ff3333aa);
  }
  50% {
    transform: translateX(-50%) scale(1.15);
    filter: drop-shadow(0 0 18px #ff0000);
  }
}

.title-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.nav-container {
  display: flex; 
  gap: 1rem;
}

.nav-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ae0505;
  color: #000000;

  font-weight: 800;
  font-size: 1.125rem;
  border-radius: 50%; 
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.nav-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(254, 253, 255, 0.911); 
}

.additional-button {
  position: absolute;
  top: 55%;
  left: 49%;
  width: 25%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.additional-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.mental-health-button {
  position: absolute;
  top: 42%;
  left: 42%;
  width: 13%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mental-health-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.emergency-text {
  position: absolute;
  top: 36%;
  left: 49%;
  color: #fafafa;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.title-contact {
  position: absolute;
  top: 34%;
  left: 35%;
  width: 28%;
}

.first-contact {
  position: absolute;
  top: 42%;
  left: 49%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.first-contact:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.second-contact {
  position: absolute;
  top: 49%;
  left: 49%;
  width: 28%; 
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.second-contact:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.third-contact {
  position: absolute;
   top: 56%;
  left: 49%;
  width: 28%; 
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.third-contact:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.contact-text {
  position: absolute;
  top: 36%;
  left: 49%;
  color: #fafafa;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}   
  
  .right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.title-page {
  width: 100%;
  height: auto;
  display: block;
}

.second-slide {
  width: 100%;
  height: auto;
  display: block;
}

.third-slide {
  width: 100%;
  height: auto;
  display: block;
}

.fourth-slide {
  width: 100%;
  height: auto;
  display: block;
}

.fifth-slide {
  width: 100%;
  height: auto;
  display: block;
}


.sixth-slide {
  width: 100%;
  height: auto;
  display: block;
}

.seventh-slide {
  width: 100%;
  height: auto;
  display: block;
}

.buttons-inside {
  position: absolute;
  bottom: 20px; 
  left: 85%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  top: 97%
}

.nav-btn {
  padding: 8px 16px;
  background: #010000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 7px;
  font-weight: 600;
}

.help-btn {
  background: #da0303;
}

.calendar-icon{
  position: absolute;
  top: 55%;
  left: 42%;
  width: 12%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.calendar-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.worldclock-icon {
  position: absolute;
  top: 39%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.worldclock-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.alarm-icon {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.alarm-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.stopwatch-icon {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 28%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.stopwatch-icon:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.todays-update {
  position: absolute;
  top: 40%;
  left: 36%;
  width: 28%;
}

.watch-time {
  position: absolute;
  top: 28%;
  left: 35%;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.watch-time-manila {
  position: absolute;
  top: 41.3%; 
  left: 51%;
  color: #fbffff;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.set-alarm{
  position: absolute;
  top: 37%;
  left: 35%;
  width: 28%;}

  .alarm-item {
  position: absolute;
  top: 39%;
  left: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin: 15px 0;
}

.icon {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #a855f7; 
}

input:checked + .slider:before {
  transform: translateX(22px);
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.css-stopwatch {
  position: absolute;
  top: 41%;
  left: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 2px;
  background: #fff;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 2px;
}

.hour-hand {
  height: 25%;
  animation: rotateHour 43200s linear infinite;
}

.minute-hand {
  height: 35%;
  animation: rotateMinute 3600s linear infinite;
}

.second-hand {
  height: 45%;
  background: #ff0000;
  animation: rotateSecond 60s linear infinite; 
}

.center-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotateSecond {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}

@keyframes rotateMinute {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}

@keyframes rotateHour {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}

.digital-stopwatch {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

@keyframes count {
  0% { content: '00'; }
  10% { content: '01'; }
  20% { content: '02'; }
  30% { content: '03'; }
  40% { content: '04'; }
  50% { content: '05'; }
  60% { content: '06'; }
  70% { content: '07'; }
  80% { content: '08'; }
  90% { content: '09'; }
  100% { content: '00'; }
}

.seconds::after {
  content: '00';
  animation: count 10s linear infinite;
}

.play-pause-container {
  position: absolute;
  top: 58%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#toggle {
  display: none;
}

.play-pause-container {
  position: absolute;
  top: 58%;          
  left: 50%;         
  transform: translate(-50%, -50%);
  display: flex;
  gap: 40px;          
  z-index: 20;
}

.circle-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(16, 233, 30);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 20px rgb(35, 195, 14);
  transition: all 0.3s ease;
}

.circle-btn::after {
  content: "Play";
}

#toggle:checked + .circle-btn {
  background-color: rgb(226, 4, 4);
  box-shadow: 0 0 25px rgb(253, 59, 10);
}

#toggle:checked + .circle-btn::after {
  content: "Pause";
}

.reset-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 0 20px #007bff;
  transition: all 0.3s ease;
}

.reset-btn:hover {
  background-color: #3399ff;
  box-shadow: 0 0 30px #3399ff;
}
   .battery-widget {
  position: absolute;       
  top: 47%;                 
  left: 48%;                
  transform: translate(-50%, -50%); 
  color: white;
  border-radius: 16px;       
  padding: 16px 18px;        
  width: 170px;                
}

.battery-percent {
  font-size: 65px;           
  font-weight: 700;
}

.battery-info {
  font-size: 15px;           
  color: #9a9a9a;
  margin-top: 15px;          
}

.battery-info span {
  color: #9a9a9a;
}

.battery-bar {
  width: 120%;
  height: 6px;               
  background-color: #2c2c2e;
  border-radius: 4px;        
  margin-top: 8px;           
  overflow: hidden;
}

.battery-level {
  height: 100%;
  width: 40%;                
  background: linear-gradient(90deg, #6ddc6e, #4cd964);
  border-radius: 4px;        
  transition: width 0.5s ease;
}

.schedule-card {
  width: 180px;
  height: 180px;
  left: 36%;
  top: 33%;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #cb44f0;
  font-weight: 1;
  margin-bottom: 2px;
}

.header i {
  font: size 0.2em;
  cursor: pointer;
}

.dates {
  display: flex;
  justify-content: space-between;
  margin: 1px 0;
}

.date {
  text-align: center;
  color: #a0a0a0;
  font-weight: 100%;
  font-size: 60%;
  width: 30px;
  padding: 9px 0;
  border-radius: 100px;
  margin-bottom: 8px;
}

.date.active {
  background: linear-gradient(135deg, #a10b9a, #5c087d);
  color: white;
  box-shadow: 0 5px 10px rgba(140, 17, 128, 0.3);
}

.meeting {
  background: #f5f9ff;
  border-left: 4px solid #db17aa;
  border-radius: 4px;
  padding: 1px 3px;
  margin-bottom: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.meeting:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(45, 1, 50, 0.2);
}

.meeting h4 {
  margin: 1;
  font-size: 8px;
  color: #9f1195;
}

.meeting p {
  margin: 0.1px 0;
  color: #5b5b5b;
  font-size: 9px;
}

.add-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(135deg, #860cd2, #83089f);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0, 120, 255, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  animation: glow 2.5s infinite ease-in-out;
}

.add-btn:hover {
  transform: rotate(90deg) scale(1.15);
  box-shadow: 0 8px 25px rgba(163, 8, 180, 0.5);
  background: linear-gradient(135deg, #e703c8, #a50da2);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(207, 19, 236, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(165, 7, 152, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(89, 5, 89, 0.5);
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.dot {
  width: 3px;
  height: 3px;
  background: #cfd8e8;
  border-radius: 50%;
}

.dot.active {
  background: #8e0ba8;
}

/* PLUS BUTTON (Animated Floating Button) */
.plus {
  position: absolute;
  top: 33%;        /* adjust position on watch */
  left: 58%;         /* move left/right as needed */
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #f91a55; /* Messenger blue */
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  z-index: 5; /* Make sure it stays on top of the watch image */
}

.plus:hover {
  transform: rotate(180deg) scale(1.1);
  background-color: #c414b8;
}

  .location-item {
  position: absolute;
  top: 1%;
  left: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin: 15px 0;
}

.icon {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #a855f7; 
}

input:checked + .slider:before {
  transform: translateX(22px);
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

